body {
}

.actionsContent {
	margin: 60vh 0 0 10%;
	padding: 2%;

	width: 80%;

	border-radius: 10px;
	background-color: #e3efeb;
	color: #162E35;
}

.actionsContent ol {
	padding: 2%;
}

.actionsContent li {
	margin: 3% 1% 1% 1%;

	text-align: left;

	font-size: 1.25em;
	
	color: #162E35;
}